# Learning Python - 1 Basics

This notebook aims to record examples of the typical data types, operations and tools used in python.

This notebook is for self-learning purpose and contains the following sections:
1. Setting up environment
2. Data Type Overview
3. Numeric operators 
4. Variable assignment 
5. String manipulation
6. List
7. Dictionary
8. Tuples
9. Set
10. Boolean 
11. Printing to file
12. Comparison (> or < etc)
13. If Else Statement and indention
14. Loop
15. While loop
16. Useful operators (e.g. emunerate and zip)
17. List comprehension

There are still parts where I am hoping to refine and understand the underlying logic.
This notebook will be updated for self-reference.

## Setting Up Environment

This section presents the admin set up that we typically need, such as libary, working directory etc.

In [3]:
# import sys
# # Check the list of installed packages
# !{sys.executable} -m pip list

# # Install a pip package in the current Jupyter kernel 
# !{sys.executable} -m pip install numpy


# Getting user id 
# import getpass
# print(getpass.getuser())

# sys.path

# check your current working directory
import os
cwd = os.getcwd()
print(cwd)

C:\Users\shiha\OneDrive\Documents\Shihan Huang\Python Learning - GitHub\python_learning

In [6]:
# Check if certain package is installed
'numpy' in sys.modules
# how this is checking and why this is different from the observation below? - to check

False

In [8]:
import sys
import subprocess
import pkg_resources

required = {'numpy'}
installed = {pkg.key for pkg in pkg_resources.working_set}
print(installed)
missing = required - installed
print(missing)

if missing:
    python = sys.executable
    subprocess.check_call([python, '-m', 'pip', 'install', *missing], stdout=subprocess.DEVNULL)

{'terminado', 'statsmodels', 'gevent', 'lazy-object-proxy', 'atomicwrites', 'zipp', 'spyder-kernels', 'docutils', 'libarchive-c', 'pytest-astropy', 'more-itertools', 'jupyter-client', 'sqlalchemy', 'parso', 'xgboost', 'sphinxcontrib-devhelp', 'colorama', 'setuptools', 'py', 'pyodbc', 'lxml', 'bleach', 'sympy', 'pluggy', 'nbformat', 'mpmath', 'cloudpickle', 'catboost', 'webencodings', 'pkginfo', 'bitarray', 'six', 'pytz', 'notebook', 'bottleneck', 'nose', 'sphinxcontrib-jsmath', 'menuinst', 'requests', 'pytest-arraydiff', 'pyparsing', 'missingno', 'widgetsnbextension', 'entrypoints', 'keyring', 'jupyter', 'cffi', 'jupyter-console', 'jupyter-core', 'simplegeneric', 'numpy', 'backports.shutil-get-terminal-size', 'anaconda-navigator', 'pandas', 'zict', 'scipy', 'soupsieve', 'qtawesome', 'traitlets', 'pip', 'pysocks', 'kiwisolver', 'bokeh', 'click', 'jinja2', 'pickleshare', 'pytest-openfiles', 'multipledispatch', 'et-xmlfile', 'pytest-pylint', 'ipykernel', 'fsspec', 'sphinxcontrib-htmlhelp', 'ruamel-yaml', 'navigator-updater', 'pandocfilters', 'wincertstore', 'html5lib', 'itsdangerous', 'numba', 'alabaster', 'werkzeug', 'backcall', 'unicodecsv', 'isort', 'beautifulsoup4', 'pycparser', 'pep8', 'jsonschema', 'llvmlite', 'prometheus-client', 'wrapt', 'pyzmq', 'wordcloud', 'ipython-genutils', 'mistune', 'boto', 'singledispatch', 'jdcal', 'openpyxl', 'cycler', 'pillow', 'pyrsistent', 'ply', 'pywavelets', 'pywinpty', 'pyopenssl', 'pycurl', 'mock', 'distributed', 'pycodestyle', 'numpydoc', 'mkl-random', 'xlwt', 'seaborn', 'conda-build', 'pytest-doctestplus', 'sphinxcontrib-websupport', 'nbconvert', 'ipywidgets', 'htmlmin', 'chardet', 'nltk', 'xlrd', 'glob2', 'scikit-learn', 'tblib', 'imageio', 'msgpack', 'sortedcontainers', 'backports.functools-lru-cache', 'snowballstemmer', 'patsy', 'dask', 'phik', 'json5', 'amply', 'filelock', 'pylint', 'numexpr', 'win-unicode-console', 'pycrypto', 'h5py', 'conda', 'pytest', 'win-inet-pton', 'pytest-remotedata', 'plotly', 'imagesize', 'decorator', 'fastcache', 'path.py', 'joblib', 'heapdict', 'bkcharts', 'xlwings', 'olefile', 'conda-verify', 'contextlib2', 'jedi', 'xlsxwriter', 'attrs', 'jupyterlab-server', 'ipython', 'defusedxml', 'anaconda-project', 'asn1crypto', 'pywin32', 'comtypes', 'pathlib2', 'matplotlib', 'markupsafe', 'mkl-service', 'sphinxcontrib-serializinghtml', 'astropy', 'rope', 'pulp', 'scikit-image', 'pyreadline', 'retrying', 'locket', 'pygments', 'jupyterlab', 'babel', 'sphinxcontrib-applehelp', 'graphviz', 'clyent', 'cryptography', 'pandas-profiling', 'sphinx', 'wcwidth', 'tables', 'tornado', 'packaging', 'send2trash', 'greenlet', 'toolz', 'backports.os', 'mkl-fft', 'astroid', 'urllib3', 'backports.tempfile', 'psutil', 'python-dateutil', 'pycosat', 'testpath', 'importlib-metadata', 'cytoolz', 'prompt-toolkit', 'cython', 'confuse', 'anaconda-client', 'backports.weakref', 'partd', 'sphinxcontrib-qthelp', 'pyyaml', 'typed-ast', 'mccabe', 'sortedcollections', 'conda-package-handling', 'qtconsole', 'networkx', 'flask', 'future', 'spyder', 'pyflakes', 'certifi', 'tqdm', 'wheel', 'idna', 'qtpy'}
set()

## Data Types

In [9]:
# integer
print("This is an integer")
a = 2
print(a)

# floating point
print("This is a float number")
b = 2.2
print(b)

# strings
print("This is a string")
c = 'Hello'
print(c)

# list - ordered sequence of object
print("A list:")
d = [2,3,"haha"]
print(d)

# dictionary - unordered Key:Value pairs {"mykey":"value"}
e = {"dic1":"1", "dic2":2}
print(e)
e["dic1"] # grabbing the mapping 

# tuples - ordered immutable (can't update) sequence of objects (10,"hello")
# Empty tuple
my_tuple = ()
print(my_tuple)

# Tuple having integers
my_tuple = (1, 2, 3)
print(my_tuple)

# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

# nested tuple
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)


# sets - A Set is an unordered collection data type that is iterable, mutable and has no duplicate elements. 
set_1 = {1,2,3,4,4,4,4,4}
print(set_1) # only print the unique values 

# booleans, True or False

This is an integer
2
This is a float number
2.2
This is a string
Hello
A list:
[2, 3, 'haha']
{'dic1': '1', 'dic2': 2}
{1, 2, 3, 4}

## Number Operators

In [51]:
# Addition
print(2+1)

# Subtraction
print(2-1)

# Multiply
print(2*2)

# Divide
print(7/4)

# Mod
print(7 % 4)

# Power
print(2 ** 3)

3
1
4
1.75
3
8

## Variable Assignment

In [55]:
# Python allows "Dynamic typing" -> can update the object to be another 
# type 

# assign value
test = 2
print(test)

# re-assign 
test = 20 
print(test)

# could reassign
test = test + test
print(test)

2
20
40

In [56]:
# use type() to check the type of the variable 
type(test)

int

## Strings

In [60]:
# Use quotes to quote strings
# strings are ordered sequences - can use indexing and slicing 
string_test = "hello"
string_test[0] # first letter

'h'

In [62]:
# you could also use reverse indexing 
string_test[-1]

'o'

In [75]:
# slicing - [start:stop:step]
# start - starting character
# stop - ending character
# step - number of jumps
print(string_test[1:4:2]) # this is grabing - 1, 3 
print(string_test[2:]) # from 3rd to the end
print(string_test[:2]) # up to 3rd but not including 
print(string_test[1:3]) # return two, from 1 to 3 (exclusive)
print(string_test[::2]) # jumping 
print(string_test[::-1]) # reverse

el
llo
he
el
hlo
olleh

In [77]:
'Hello World'[-3] # when reversing - start with 1

'r'

In [68]:
# add new line
print("hello \n world")
# add tab
print("hello \t world")

hello
 world
hello 	 world

In [69]:
# length of the string
len(string_test)

5

In [78]:
# Immutability 
name = "Sam"

In [82]:
# name[0] = "T" # can't update
# but can create a new string
new_name = "P" + name[1:]
print(new_name)

Pam

In [84]:
letter = 'z'
letter * 10 # can do multiplication

'zzzzzzzzzz'

In [87]:
letter.upper() # use tab to see what other operations you can do on the string
# don't forget to add () to execute :)

'Z'

In [89]:
sentence = "Hi This is a string"
sentence.split() # by default split by space

['Hi', 'This', 'is', 'a', 'string']

In [90]:
sentence.split("i") # can use other seperator

['H', ' Th', 's ', 's a str', 'ng']

In [91]:
# Print and string varaibles
# two methods
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [92]:
print('The {} {} {}'.format('fox','brown','quick'))

The fox brown quick

In [93]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [94]:
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

The quick brown fox

In [96]:
print('The {f} {f} {f}'.format(f='fox',b='brown',q='quick'))

The fox fox fox

In [98]:
# print('The {q+f} {f} {f}'.format(f='fox',b='brown',q='quick')) 
# this would return error

In [110]:
result = 100/7
print(result)
print("The result was {r:1.4f}".format(r=result))
# {value:width.precision f}

14.285714285714286
The result was 14.2857

In [111]:
print(f'Hello, result is {result}') # f method to add the variable

Hello, result is 14.285714285714286

## List
* List are ordered sequences that can hold a variety of object types
* List uses square brackets []
* List support indexing and slicing

In [112]:
my_list = [1,2,3]

In [113]:
my_list = [1, 'string', 23.2, True]

In [114]:
len(my_list)

4

In [116]:
my_list[2] # indexing and slicing

23.2

In [117]:
another_list = ["new", 20]

In [118]:
new_list = my_list + another_list

In [119]:
print(new_list)

[1, 'string', 23.2, True, 'new', 20]

In [120]:
# Update - mutable 
new_list[-1] = 400

In [121]:
new_list

[1, 'string', 23.2, True, 'new', 400]

In [123]:
new_list.append('appending new') # adding new items
new_list

[1, 'string', 23.2, True, 'new', 400, 'appending new', 'appending new']

In [124]:
new_list.pop() # pop(remove) the last one

'appending new'

In [125]:
new_list

[1, 'string', 23.2, True, 'new', 400, 'appending new']

In [126]:
new_list.pop(0) # pop out the first one

1

In [127]:
new_list

['string', 23.2, True, 'new', 400, 'appending new']

In [128]:
sort_list = ["a","e","f","b"]
num_list = [3,1,8,4]

In [129]:
num_list.sort() # happens in place, will not need to assign to new one

In [130]:
num_list

[1, 3, 4, 8]

In [132]:
sort_list.reverse() # reverse the current order 
sort_list

['a', 'e', 'f', 'b']

## Dictionary
* Unordered mappings for storing objects
* key-value pair 
* use {} to create dictionary 
* use : to assign the value and key
* useful when creating a mapping table

In [133]:
my_dictionary = {'key1':'value1', 'key2':'value2'}

In [134]:
my_dictionary['key2']

'value2'

In [140]:
# can also have list in your dictionary 
new_dictionary = {'k1':123, 'k2':[0,1,3],'k3':{'inside1':'ABC','inside2':2}}

In [141]:
new_dictionary['k2'][2]

3

In [143]:
new_dictionary['k3']['inside1'].lower()

'abc'

In [146]:
# add new item into your dictionary
new_dictionary['k4'] = "new item"
new_dictionary

{'k1': 123,
 'k2': [0, 1, 3],
 'k3': {'inside1': 'ABC', 'inside2': 2},
 'k4': 'new item'}

In [147]:
new_dictionary.keys()

dict_keys(['k1', 'k2', 'k3', 'k4'])

In [148]:
new_dictionary.values()

dict_values([123, [0, 1, 3], {'inside1': 'ABC', 'inside2': 2}, 'new item'])

In [149]:
new_dictionary.items() # note that the items are in the () brakets

dict_items([('k1', 123), ('k2', [0, 1, 3]), ('k3', {'inside1': 'ABC', 'inside2': 2}), ('k4', 'new item')])

## Tuples
* immutable 
* use () to create tuples

In [150]:
my_list = [1,2,3]
my_tuple = (1,2,3)

In [153]:
print(type(my_list))
print(type(my_tuple))

<class 'list'>
<class 'tuple'>

In [154]:
# index
t = ('a','a','b')
t.count('a')

2

In [155]:
t.index('a')

0

In [156]:
t.index('b')

2

In [157]:
# Immutability 
print(my_list)
my_list[0] = 'New'
print(my_list)

[1, 2, 3]
['New', 2, 3]

## Sets
* unordered collections of unique elements

In [160]:
my_set = set()
my_set

set()

In [161]:
my_set.add(1) # add element
my_set

{1}

In [162]:
my_set.add(2)
my_set

{1, 2}

In [163]:
my_set.add(2)
my_set

{1, 2}

In [164]:
mylist = [1,1,1,1,1,1,2,3,4,5,5,5,5]
set(mylist) # get unique elements of the list

{1, 2, 3, 4, 5}

## Booleans
* True or False statements
* useful when checking if certain condition is met

In [165]:
# Make sure use Capital letter for the first letter 
1 > 2

False

In [166]:
1 == 1

True

In [167]:
b = None # initiate

## Files

In [180]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Overwriting myfile.txt

In [181]:
myfile = open('myfile.txt')

In [182]:
myfile.read() # there is a curser
myfile.read()
myfile.seek(0)
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [183]:
pwd

'C:\\Users\\shiha\\OneDrive\\Documents\\Shihan Huang\\edX\\Georgia Tech\\ISYE 6501 - Introduction to Analytics Modelling\\Week 11'

In [184]:
myfile.seek(0)
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [186]:
# myfile = open("C:\\Users\\UserName\\Folder\\test.txt") - read from 
# another file 

myfile.close() # close the file after you finish using it

In [187]:
# best practice way:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [188]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

File operations:
* mode = 'r' - read only
* mode = 'w' - write only
* mode = 'a' - append only 
* mode = 'r+' - reading and writing
* mode = 'w+' - writing and reading

In [191]:
with open('myfile.txt',mode = 'r') as myfile: 
    # can use shift + Tab to see documentation
    contents = myfile.read()

In [197]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND 
THREE ON THIRD

Overwriting my_new_file.txt

In [198]:
with open('my_new_file.txt',mode = 'r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [199]:
with open('my_new_file.txt',mode = 'a') as f:
    f.write('FOUR ON FOURTH')

In [200]:
with open('my_new_file.txt',mode = 'r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

In [201]:
with open('might_be_new.txt',mode = 'w') as f:
    f.write("this is a new file")

In [202]:
with open('might_be_new.txt',mode = 'r') as f:
    print(f.read())

this is a new file

## Comparison

In [1]:
1 < 2

True

In [2]:
1 < 2 < 3 # chained comparison

True

In [3]:
1 < 2 and 2 > 3

False

In [4]:
1 < 2 or 2 >3

True

In [6]:
not (400 > 5000)

True

In [7]:
400 != 5000

True

## If else statements
if

elif

else

In [14]:
a = 4
if a == 1:
    print("a is 1")
elif a == 2:
    print("a is 2")
else:
    print("a is neither 1 or 2")

a is neither 1 or 2

## Loop
Iterable items e.g. 
* iterate over every character in a string
* iterate every time in a list

In [18]:
my_iterable = [1,2,3,4,5,6,7,8,9,10]
list_sum = 0
for item_name in my_iterable:
    if item_name % 2 == 0:
        print(item_name)
    else:
        print(f'Odd Number: {item_name}')
    list_sum = list_sum + item_name
    
print(list_sum)

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10
55

In [19]:
mystring = 'hello world'
for letter in mystring:
    print(letter)

h
e
l
l
o

w
o
r
l
d

In [20]:
for _ in mystring:
    print('cool')

cool
cool
cool
cool
cool
cool
cool
cool
cool
cool
cool

In [21]:
mylist2 = [(1,2), (3,4), (5,6), (7,8)]
for (a,b) in mylist2:
    print(a)
# replicating the structure of mylist2

1
3
5
7

In [23]:
# loop through dictionary
d = {'k1':1, 'k2':2, 'k3':3}

for item in d: # by default, 
    print(item)

for key,value in d.items():
    print(key)

k1
k2
k3

## While loop

In [28]:
x = 0
while x < 5:
    print(f'The current value of x is {x}')
    x = x+1 
    x += 1 # also means add 
else:
    print("X IS NOT LESS THAN 5")

The current value of x is 0
The current value of x is 2
The current value of x is 4
X IS NOT LESS THAN 5

We can use breakd, continue, and pass statements in our loops to add additional functionality for various cases.
* break: breaks out of the current closest enclosing loop
* continue: goes to the top of the closest enclosing loop
* pass: does nothing at all

In [29]:
x = [1,2,3]
for item in x:
    pass # does nothing and avoids error
print("end")

end

In [30]:
mystring = 'Sammy'
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [31]:
for letter in mystring:
    if letter == 'm':
        break
    print(letter)

S
a

## Useful operators

In [35]:
mylist = [1,2,3]

# range(start, stop, step)
for num in range(0,10,2):
    print(num)
    
# e.g.
list(range(0,10,2))

0
2
4
6
8

[0, 2, 4, 6, 8]

In [39]:
# take iterable object
for index,letter in enumerate('abcde'):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [41]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]
# zip can zip lists together 
for item in zip(mylist1,mylist2,mylist3):
    print(item)
    
# returns tupple

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [42]:
# check if something is in a list 
'x' in [1,2,3]

False

In [45]:
# min()
# max()
# importing library 
# shift + tab to get hints
from random import shuffle
mylist = list(range(0,10)) # in place function 
random_list = shuffle(mylist)
print(random_list)
print(mylist)

None
[0, 8, 3, 4, 7, 1, 6, 2, 5, 9]

In [46]:
from random import randint
randint(0,100)

95

In [47]:
# grab user input
input('enter a number')

enter a number50

'50'

In [49]:
result = input('what is your name: ')

what is your name: shihan

In [50]:
print(result)

shihan

## List Comprehension

In [58]:
mystring = 'hello'
mylist = []
for letter in mystring:
    mylist.append(letter)
print(mylist)
# can actually use list comprehension
mylist = [letter for letter in mystring]
print(mylist)
# [item for item in an iterable list]
# e.g.
mylist2 = [num**2 for num in range (0,5)]
print(mylist2)
# can add if statement
mylist3 = [x for x in range(0,11) if x%2 == 0 ]#even numbers
print(mylist3)
# can do other operations
celcius = [0,10,20,34.5]
fahrenheit = [( (9/5)*temp + 32) for temp in celcius]
print(fahrenheit)

# can add if else - order is different
results = [x if x%2 == 0 else 'ODD' for x in range(0,11)]
print(results)

# nested loops
mylist = []
for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)
print(mylist)
# or:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]
print(mylist)

['h', 'e', 'l', 'l', 'o']
['h', 'e', 'l', 'l', 'o']
[0, 1, 4, 9, 16]
[0, 2, 4, 6, 8, 10]
[32.0, 50.0, 68.0, 94.1]
[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]
[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]
[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]